{% extends 'FrontOffice/Client/baseClient.html.twig' %}
{% block Liste %}

    <div>
        <h3>email envoyé avec succès.</h3>
        <!--IMAGE :3 -->
        </br>

    </div>
    <div class="btn_form">
        <a href="{{ path ('listeVetFront') }}">Retour Liste Veterinaires </a><span></span>
    </div>

{% endblock %}