{% extends "@Bienetre/FrontOffice/FrontOffice.html.twig" %}
{% block Liste %}
    {% for Evenements  in p %}
<div class="box1">
    <div class="col_1_of_single1 span_1_of_single1">
        <div class="view1 view-fifth1">
            <div class="top_box">

                <h3 class="m_1">{{ Evenements.nomEvenement }}</h3>
                <p class="m_2">{{ Evenements.themeEvenement }}</p>

                    <div class="grid_img">
                        <div class="css3"><img src="{{ asset('uploads/images/evenement/'~ Evenements.imageEvenement) }}" alt="image"  width="300" height="100"/></div>

                        </div>
                    </div>
        </div>
            <ul >
                <li>
                    <img src="images/plus.png" alt=""/>
                    <div class="btn_form "><a  href="{{ path ('_detailevenement',{'id':Evenements.id}) }}>">Afficher Profil </a></div>

                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    {% endfor %}


    {% endblock %}


