{% extends "@Bienetre/layoutbackoffice.html.twig" %}
{% block evenements %}

{% block title %}BienetreBundle:Evenement:Delete{% endblock %}

{% block body %}
<h1>Welcome to the Evenement:Delete page</h1>
{% endblock %}
{% endblock %}
