{% extends "@Bienetre/layoutbackoffice.html.twig" %}
{% block evenements %}
votre mail d'avertissement  a ete envoye avec succes.

<a href="{{ path ('_afficheevenement') }}">retourner vers mon dashboard</a>
{% endblock %}