{% extends 'FrontOffice/Client/baseClient.html.twig' %}
{% block Liste %}
    <h3>Réclamation bien envoyé</h3>
    <p>Votre réclamation sera traité dans les plus courtes délai et votre Veterinaire sera modifié </p>
    <div class="btn_form">
        <a href="{{ path ('maListe') }}">retour à ma liste </a>
    </div>

{% endblock %}