{% extends "@Template/BackOffice/produits.html.twig" %}
{% block produits %}
    <h1>Adding a new product</h1>

    {{ form_start(form) }}
    {{ form_row(form) }}
    {{ form_end(form) }}
{% endblock %}