{% extends 'FrontOffice/Vet/baseVet.html.twig' %}
{% block Liste %}
    <h3>Demande bien envoyé</h3>
    <p>Votre Demande sera traité dans les plus courtes délai et vous serez informé via Mail </p>
    <div class="btn_form">
        <a href="{{ path("pdf") }}">Imprimer PDF </a>
    </div>

{% endblock %}