{% extends "@Template/BackOffice/produits.html.twig" %}
{% block produits %}
<h1>Update</h1>
{{ form_start (form) }}
{{ form_widget(form.Ajouter,{'label':'Modifier'}) }}
{{ form_end (form) }}
{% endblock %}