{% extends "@Bienetre/FrontOffice/FrontOffice.html.twig" %}

{% block title %}BienetreBundle:CommentaireEvenement:AfficheCommentaire{% endblock %}

{% block body %}
<h1>Welcome to the CommentaireEvenement:AfficheCommentaire page</h1>

{% endblock %}
