{% extends "::base.html.twig" %}

{% block title %}BienetreBundle:CommentaireEvenement:SupprimerCommentaire{% endblock %}

{% block body %}
<h1>Welcome to the CommentaireEvenement:SupprimerCommentaire page</h1>
{% endblock %}
