{% extends "::base.html.twig" %}

{% block title %}BienetreBundle:CommentaireEvenement:UpdateCommentaire{% endblock %}

{% block body %}
<h1>Welcome to the CommentaireEvenement:UpdateCommentaire page</h1>
{% endblock %}
